* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #549aad  0%, #000000b6 70%);
    background-size: 100%;
}

nav {
    display: flex;
    /* background-color: #333; */
    min-height: 5vh;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-items: center;
    background-color:#E3F2FD;
    box-shadow: 2px -2px 7px #66fcf1;
}

.logo {
    color: rgb(104, 100, 100);
    font: bold 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-align: right;
} 

ul {
    text-align: right;
}

ul > li {
    list-style-type: none;
    
}
 
li a {
    text-decoration: none;
   
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
}

.burger {
    display: none;
    cursor: pointer;
}


.burger div {
    width: 25px;
    height: 5px;
    background-color: rgb(104, 100, 100);
    margin: 5px;
}

@media screen and (max-width : 1024px) and (max-width : 1024px) {
    .nav-links {
    width: 60%;
    } 
}


@media screen and (max-width : 768px) and (max-width : 1024px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100%;
        width: 30%;
        top: 5vh;
        background-color: #E3F2FD;
        display: grid;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }
   /* .nav-links li {
       opacity: 0;
   } */
   .nav-links li a {
       color: black;
   }

   .burger {
       display: block;
   }
}

.nav-active {
    transform: translateX(0%);
}
section {
    font-size: 30px;
    box-sizing: content-box;
    position: absolute;
    display: grid;
    left: 35%;
    top: 50%;
    padding: 10px;
    border: 1.5px solid rgb(60, 60, 70);
    background-color: rgb(62, 70, 77);
    border-radius: 5px;
    box-shadow: 2px 2px 7px #66fcf1;
    color: #ffffff;
    translate: (-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.date-time {
    display: flex;
    letter-spacing: 0.05em;
}

.date-time div {
    margin: 10px;
}

#time {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 30px;
}
#day-of-week {
    font-weight: bold;
}

#day-of-week:after {
    content: "";
  background-color:  rgb(64, 96, 107);
  
  position: absolute;
  width: 2px;
  height: 80%;
  top: 10px;
  left: 50%;
  display: block;
}
/* .date, .time {
    position: absolute;
    top: 50%;
    left: 50%;
}   */